node_modules
videos
cypress/reports
cypress/screenshots
login.demo.spec.js
package-lock.json
data.json
gen_anniversary.csv
mochawesome-report/mochawesome.html
mochawesome-report/mochawesome.json
xxx.json
yarn-error.log
Makefile
.env
mochawesome-report
cypress/.DS_Store
cypress/videos
cypress/.DS_Store
.idea
data2.json
token.json
